{%extends 'all/base.html'%}
{%load static%}
{%block content %}
<div class="row" style="width:100%"> 
    <div class="col-lg-3 mb-2 pr-lg-1">
        <div class="card mb-3" id="card"  style="width: 100%;">
            <img src="{%static 'img/proj.jpg'%}" alt="..." height="220"
                class="rounded">
            <div class="card-body">
                <h4>Title</h4>

                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea veniam, 
                    similique iste quaerat nobis accusantium 
                    consequuntur deleniti unde temporibus possimus,
                     natus distinctio sit, nam alias nostrum assumenda 
                     saepe illum a.</p>
            </div>
        </div>
      
    </div> 
    <div class="col-lg-3 mb-2 pl-lg-1">
        <div class="card mb-3" id="card" style="width: 100%;">
            <img src="{%static 'img/proj.jpg'%}" alt="..." height="220"
                class="rounded">
            <div class="card-body">
                <h4>Title</h4>

                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea veniam, 
                    similique iste quaerat nobis accusantium 
                    consequuntur deleniti unde temporibus possimus,
                     natus distinctio sit, nam alias nostrum assumenda 
                     saepe illum a.</p>
            </div>
        </div>
    </div> 
    <div class="col-lg-3 pr-lg-1 mb-2">
        <div class="card mb-3" id="card" style="width: 100%;">
            <img src="{%static 'img/proj.jpg'%}" alt="..." height="220"
                class="rounded ">
            <div class="card-body">
                <h4>Title</h4>

                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea veniam, 
                    similique iste quaerat nobis accusantium 
                    consequuntur deleniti unde temporibus possimus,
                     natus distinctio sit, nam alias nostrum assumenda 
                     saepe illum a.</p>
            </div>
        </div>
    </div> 
    <div class="col-lg-3 pl-lg-1">
        <div class="card mb-3" id="card" style="width: 100%;">
            <img src="{%static 'img/proj.jpg'%}" alt="..." height="220"
                class="rounded">
            <div class="card-body">
                <h4>Title</h4>

                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea veniam, 
                    similique iste quaerat nobis accusantium 
                    consequuntur deleniti unde temporibus possimus,
                     natus distinctio sit, nam alias nostrum assumenda 
                     saepe illum a.</p>
            </div>
        </div>
    </div> 
</div>
{%endblock%}