{%extends 'all/base.html'%}
{%load static%}
{%block content %}

<div class="" id="home-container">
    <div class="row" id="body-row"> 
        
          
     
        
        <div class="post mt-3" style="color: #fff;">
           
             
           <form class="mb-0 mt-6 mb-4 ml-0 h1" id="searchform" action="{% url 'search' %}" method="POST">
            {%csrf_token%}
            <input name="searched" autocomplete="off" id="searching" class="form-control" placeholder="Search Project....">
           <i class="spinner "></i>
           
       </form>
     
           
        </div>
        
    
        {%for proj in projects%}
        <div class="col-md-3 mb-3" id="proj-display">
            <div class="card">
                <div class="card-body" id="project-card">
                    <a href="{% url 'project_details' proj.id%}">
                        <img src="{{proj.image.url}}" class="img-fluid" alt="">
                    </a>
                    <h5>{{proj.title}}</h5>
                  <div class="card-foot" style="display:flex;justify-content:space-between">
                    <p>By: {{proj.user}}</p>
                    <p>{{proj.date|date}}</p>
                  </div>
                   
                  
                </div>
            </div>
        </div>
        {%endfor%}
    
        
     
    </div>
</div>

{%endblock%}